:root {
    --background-color : rgba(255,0,0,0.35);
    --border : 8px solid blue;
}

div {
    background-color: var(--background-color);
    border: var(--border);
    width: 20em;
    height: 20em;
}