:root {
  --padding : 50px;
  --linespace : 35px;
  --color : #8bc34a;

}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: white;
}

/* write your code here */
ul {
  padding: var(--padding);
}
li {
  line-height: calc(var(--linespace) + 15px);
  list-style: none;
  text-align: center;
}
ul:first-child {
  background-color: #E8370E;
  font-weight: 400;
}
ul:first-child li {
  background-color: #711C08;
}
ul:nth-child(2) {
  background-color: #3F51B5;
  font-weight: 700;
}
ul:nth-child(2) li {
  background-color: #00BCD4;
}
li:last-of-type > ul {
  background-color: var(--color);
  font-weight: 400;
}
li:last-of-type li {
  background-color: #009688;
}














/* ul:nth-child(2) ul{
  background-color: var(--color);
}



ul:nth-of-type(3) > ul:nth-child(1)  {
  background-color: #009688;
  font-weight: 400;
} */

