.container {
  border: 2px solid red;
  padding: 10px;
  position: absolute;
  height: 500px;

}

/* tutaj twoje style */
.element {
  border: 2px solid dodgerblue;
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
}

.container > .element:nth-child(4){
  clear: left;
}









