.plan {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  font-family: sans-serif;
}

.plan-title {
  margin-top: 0;
}

.plan-content {
  overflow: hidden;
}

.plan-content-title {
  margin-top: 0;
}

.plan-content-left {
  padding: 30px;
  width: 50%;
  float: left;
  border: 1px solid #ddd;
  background: #eee;
  box-sizing: border-box;
}

.plan-content-right {
  padding: 30px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #ddd  ;
  float: left;
  background: #ccc;
}