body {
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}
